/* GERAL */
* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-size: 16px;
	font-family: 'Bitter', serif;
	margin: 0;
	font-weight: 400;
	line-height: 1.8em;
	color: white;
}

/* HOMEPAGE */

/* Título da homepage */
.portfolio-title {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #fff;
	opacity: 1;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 10px;
	text-transform: uppercase;
}

/* Backgrounds da homepage */
.pimg1, .pimg2, .pimg3 {
	position: relative;
	opacity: 0.8;
	background-size: cover;
	background-attachment: fixed;
}

.background-image-1 {
	background: url("../img/backgrounds/homepage/bg-1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height: 100%;
}

.background-image-2 {
	background: url("../img/backgrounds/homepage/bg-2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height: 400px;
}

.background-image-3 {
	background: url("../img/backgrounds/homepage/bg-3.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	min-height: 400px;
}

/* Secções da homepage */
.section {
	text-align: justify;
	padding: 50px 80px;
	font-size: 20px;
}

.section-light {
	background-color: #f4f4f4;
	color: #192a56;
}

.section-blue {
	background-color: #487eb0;
	color: #fff;
}

/* Título das secções */
.section-title {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

/* Background dos títulos da homepage */
.border {
	padding: 20px;
	background-color: #192a56;
	opacity: 0.8;
}

/* Palavras/slogans da homepage */
.background-text {
	position: absolute;
	margin-top: 150px;
	font-weight: bold;
	width: 100%;
	text-align: center;
	color: #666;
	font-size: 25px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.background-text .border {
	background-color: #192a56;
	opacity: 0.8;
	color: #fff;
	padding: 30px;
}

/* MEDIA QUERIES */

/* Responsividade dos backgrounds */
@media (max-width: 568px) {
	.background-image-1, .background-image-2, .background-image-3 {
		background-attachment: scroll;
	}
}

/* Responsividade do background dos títulos da homepage */
@media (max-width: 736px) {
	span.border {
		padding: 0;
	}