/* RESUMO DA MATÉRIA DADA */

/* Secção dos temas abordados */
section.section-blue a:link {
	color: #fff;
	transition: 1s ease;
}

.section a {
	color: #2e61e4;
}

section.section-blue a:hover {
	color: #b0c4ff;
	text-decoration: none;
}

.links_temas {
	color: #fff;
}

.inside_link {
	color:#92CDF4;
}

/* Secção das fichas de trabalho realizadas */
section.section-light a:link {
	color: #192A56;
	transition: 1s ease;
}

section.section-light a:hover {
	color: #355fc9;
	text-decoration: none;
}