/* RESUMO DA MATÉRIA DADA E ANÁLISE ÀS FICHAS DE TRABALHO */

/* Seta de retorno à homepage */
.ion-arrow-return-left {font-size: 45px; color: #F4F4F4; padding: 15px 16px;}

/* Links */
section.section-blue a:link {color: #fff;transition: 1s ease;}

section.section-blue a:hover {color: #b0c4ff;text-decoration: none;}

.links_temas {color: #fff;}

section.section-light a:link {color: #192A56;transition: 1s ease;}

section.section-light a:hover {color: #355fc9;text-decoration: none;}

section.section-light.section_ficha a {color: #004fff;}

section.section-light.section_ficha a:hover {color: #003d7d;}

/* Imagens */
.img_resolucao {margin-top: 10px;}

.img_questao {margin-top: -15px;}

section.section-light.section_ficha hr {border-top: 3px double #192A56;}
